<!DOCTYPE html>
<html>
  <head>
    <title>Contact US</title>
  </head>
  <body id="">

    <div id="main">
      <div class="container">
        <div id="subnav">
          <div class="collapse-md">
            <button
              class="btn btn-default"
              type="button"
              data-toggle="collapse"
              data-target="#subnav-collapse"
            >
              Contact <span class="caret"></span>
            </button>
            <ul class="nav nav-tabs" id="subnav-collapse">
              <li>
                <a href="/about"> Introduction</a>
              </li>
              <li class="active">
                <a href="/contact"> Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <h4>To contact us privately:</h4>
        <p>
          <a class="btn btn-primary" data-email="support&#64;ryerson.com"
            >Send us an email</a
          >
        </p>
        <p>We will respond to your email with 24hour.</p>
      </div>
    </div>

    <footer class="container" role="navigation">
      <ul>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </footer>
  </body>
</html>
