<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body> 
      <a href="#2">jump</a>
      <ul style = "font-size: 100px;"> 

        <li> 1</li>
        <li> 2</li>
        <a  href="#6">  <li id= "2"> 2</li> </a>
        <li> 4</li>
        <li> saaaaaa</li>
        <li> 5</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <a  href="#10">  <li id= "6"> 6</li> </a>
        <li> saaaaaa</li>
        <li> saaaaaa</li>

        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> 7</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li><li> saaaaaa</li>

        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> 8</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <a  href="#2">  <li id= "10"> 10</li> </a>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
        <li> saaaaaa</li>
      </ul>
  <div class="news-container">
    <button onclick="fetchAllNews()"> Fetch News</button>

      <header>
      </header class="news-header">
      <section class="sidebar">
        </section> 
    <div>
    </div>
    <section class="news-container" id="main-container"></section>
  </body>
</html>
